<nav class="navbar navbar-expand-lg navbar-dark p-4 mx-auto  fixed-top bg-nav" th:fragment="menu">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
      <img src="/images/logo-wbg.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top me-2">
      <strong>ULEVITE  ACADEMY</strong>
    </a>

    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <!-- Search form -->
      <div class="d-lg-flex justify-content-center my-lg-0 w-50">
        <form th:action="@{/films/search}" class="d-flex  mx-auto" style="max-width: 600px; width: 100%;">
          <input class="form-control me-2" type="search" name="title" placeholder="Rechercher un film" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Rechercher</button>
        </form>
      </div>

      <!-- Menu  -->
      <ul class="navbar-nav ms-auto align-items-lg-center gap-2">
        <!-- Utilisateur connecté -->
        <th:block sec:authorize="isAuthenticated()">
          <li class="nav-item me-3 ">
            <span class="nav-link text-primary fw-bold">Bonjour <span class="text-info" th:text="${#authentication.name}"></span></span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white  border border-info btn btn-outline-info btn-sm" th:href="@{/logout}">Se déconnecter</a>
          </li>
        </th:block>
        <!-- Utilisateur non connecté -->
        <th:block sec:authorize="!isAuthenticated()">
          <li class="nav-item me-4">
            <a class="nav-link text-white" th:href="@{/}">Accueil</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link text-white" th:href="@{/courses}">Cours</a>
          </li>
          <li class="nav-item me-5 ">
            <a class="nav-link text-white " th:href="@{/about}">À propos</a>
          </li>
          <li class="nav-item ">
            <a class="btn btn-outline-light btn-sm" th:href="@{/auth/login}">Connexion</a>
          </li>
          <li class="nav-item ">
            <a class="btn btn-light btn-sm" th:href="@{/auth/register}">Inscription</a>
          </li>
        </th:block>
      </ul>
    </div>
  </div>
</nav>
